#image{
    width:100px;
    height:100px;
}
#image:hover {
    width:150px;
    height:150px;
}
#wlcm{
	border: 1px solid black;
	height:10px;
}
img{
	max-width:100%;
	border-radius: 50%;
}

.chat-page{
	padding 0 0 20px 0;
	font-family: sans-serif;
	letter-spacing: 0.5px;
	max-width:500px;
	margin-top: 4%;
	font-family: sans-serif;
	letter-spacing: 0.5px;
	margin-left: 0px;
	border: 1px solid black;
	height: 500px;
	margin-bottom: 4%;
}
.msg-inbox{
	padding-bottom: 50px;
}
.chats{
	padding: 30px 15px 0 25px;
}
.msg-page{
	height: 500px;
	

}
.received-chats-img{
	display: inline-block;
	width: 20px;
	float: left;
}
.received-msg{
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received-msg-inbox{
	width: 57%;
}
.received-msg-inbox p{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
}
.outgoing-chats{
	overflow:hidden;
	margin: 26px 20px;
}
.outgoing-chats-msg p{
	background: #007bff none repeat scroll 0 0;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.outgoing-chats-msg{
	float: left;
	width: 46%;
	margin-left: 45%;
}
.outgoing-chats-img{
	display: inline-block;
	width: 20px;
	float: right;
}
.msg-bottom{
	position: relative;
	height: 60px;
	background-color: transparent;
}


.input-group{
	float:right ;
    border-radius: 20px;
    width:60px;
    background-color:#fff;

}
.form-control{
   border-radius: 20px !important;
   border: 2px solid black;
}
#falana{
	height: 35px;
	width: 70px;
	color: red;
	background: transparent !important;
	border: none;
	padding: 5px 2px 2px 2px;
}

